pipeline/pipeline_end_to_end_formula1_solution.json
{
	"name": "pipeline_end_to_end_formula1_solution",
	"properties": {
		"activities": [
			{
				"name": "Get-Data-Exists-Or-Not",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Get_Data_Files_Exists_Or_Not",
						"type": "DatasetReference",
						"parameters": {
							"v_file_date": {
								"value": "@pipeline().parameters.p_file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If-folder-exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get-Data-Exists-Or-Not",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get-Data-Exists-Or-Not').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute-Ingestion-formula1-Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline-ingestion-formula1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"v_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Execute-Transformation-formula1-Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Execute-Ingestion-formula1-Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline-transformation-formula1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"v_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_file_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}