formula1-data-factory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "formula1-data-factory"
		},
		"ls_adls_formula1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls_formula1'"
		},
		"ls_adls_formula1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://formula1demoprojectadls.dfs.core.windows.net/"
		},
		"ls_databricks_formula1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1220-175801-izo9wh4t"
		},
		"trigger_tw_formula1_properties_pipeline_parameters_p_file_date": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-ingestion-formula1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "circuit-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/1.Ingestion_circuit_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "races-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/2.Ingest_races_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "results-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/5.Ingest_results_json_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "constructors-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/3.Ingest_constructors_json_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "drivers-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/4.Ingest_drivers_json_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "lap-times-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/7.Ingest_lap_times_csv_files",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "qualifying-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/8.Ingest_qualifying_json_files",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "pitstops-file-ingestion",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/Ingestion/6.Ingest_pitstops_json_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@variables('v_data_source')",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"v_file_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_data_source": {
						"type": "String",
						"defaultValue": "ErgastAPI"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_formula1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-transformation-formula1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "race-results-transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/trans/1.race_results",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "drivers-standing-transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "race-results-transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/trans/2.driver_standings",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "constrcutors-standing-transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "race-results-transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/trans/3.constructor_standings",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "calculated-race-results-transformation",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/Formula1-Project/trans/5.calculated_race_results",
							"baseParameters": {
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.v_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_formula1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"v_file_date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_formula1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_end_to_end_formula1_solution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get-Data-Exists-Or-Not",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Get_Data_Files_Exists_Or_Not",
								"type": "DatasetReference",
								"parameters": {
									"v_file_date": {
										"value": "@pipeline().parameters.p_file_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If-folder-exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get-Data-Exists-Or-Not",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get-Data-Exists-Or-Not').output.exists",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Execute-Ingestion-formula1-Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline-ingestion-formula1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"v_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Execute-Transformation-formula1-Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Execute-Ingestion-formula1-Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipeline-transformation-formula1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"v_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Get_Data_Files_Exists_Or_Not')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline-ingestion-formula1')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline-transformation-formula1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get_Data_Files_Exists_Or_Not')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_formula1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"v_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@formatDateTime(dataset().v_file_date, 'yyyy-MM-dd')",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"constructorId": {
							"type": "integer"
						},
						"constructorRef": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"nationality": {
							"type": "string"
						},
						"url": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls_formula1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls_formula1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_formula1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_formula1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_formula1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7137839292072843.3.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/7d33dc10-cedd-4461-9e0a-fa16ba57f21a/resourceGroups/kdshinde-RG/providers/Microsoft.Databricks/workspaces/Formula1-Demo-Project-DB",
					"existingClusterId": "[parameters('ls_databricks_formula1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_tw_formula1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pipeline_end_to_end_formula1_solution",
						"type": "PipelineReference"
					},
					"parameters": {
						"p_file_date": "[parameters('trigger_tw_formula1_properties_pipeline_parameters_p_file_date')]"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 168,
					"startTime": "2021-03-14T22:00:00Z",
					"endTime": "2021-04-26T22:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 1,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_end_to_end_formula1_solution')]"
			]
		}
	]
}